.file {
  --error-border: var(--red-0);

  height: 62px;
  display: flex;
  align-items: stretch;

  border: 1px solid var(--grey-1);
  border-radius: 12px;
  background: var(--grey-7);

  &_message {
    border-bottom: none;
    border-bottom-color: var(--grey-1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &__icon {
    display: flex;
    align-items: center;
    color: var(--drop-area-icon-color);
  }

  &__load {
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    width: 58px;
    padding: 12px;
    border-right: 1px solid var(--grey-1);
  }

  &__description {
    flex: 1 0 auto;
    align-self: center;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__controls {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;

    border-left: 1px solid var(--grey-1);
  }

  &__control {
    cursor: pointer;

    display: flex;
    align-items: center;
    color: var(--drop-area-icon-color);

    transition: color 0.1s;

    &:hover {
      border-color: white;
      color: white;
    }
  }

  &__input {
    width: 100%;
    padding: 4px 8px;
    border: 1px solid var(--grey-1);
    border-radius: 8px;
    background: var(--grey-7);
    color: var(--drop-area-icon-color);
    font-size: 16px;
    outline: none;
    color: white;
    transition: border-color 0.1s;

    &:focus {
      border-color: white;
    }
  }

  &__uploaded {
    display: flex;
    align-items: center;
    color: var(--drop-area-icon-color);
  }
}

.file-message {
  --error-border: var(--red-0);

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--grey-1);

  border-radius: 12px;
  background: var(--grey-7);

  border-color: var(--grey-1);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  &_error {
    border-color: var(--error-border);
  }
}
