.dropzone {
  --file-uploader-border: var(--grey-1);
  --file-uploader-background: var(--black-1);
  --file-uploader-hover: var(--grey-2);
  --file-uploader-border-bottom: var(--grey-1);
  --drop-area: var(--grey-1);
  --drop-area-icon-color: var(--grey-0);

  overflow: hidden;
  max-width: 620px;
  width: 100%;
  padding: 16px;
  border: 1px solid var(--file-uploader-border);
  border-radius: 12px;
  background-color: var(--file-uploader-background);
  font-size: 16px;
  color: white;
  user-select: none;

  &>*:not(:first-child) {
    margin-top: 16px;
  }

  &__header {
    padding: 12px 16px;
    border-bottom: 1px solid var(--file-uploader-border-bottom);
    font-size: 20px;
    font-weight: 700;
  }

  &__area {
    cursor: pointer;
    padding: 48px;
    border: 2px dashed var(--drop-area);
    border-radius: 8px;

    text-align: center;
    transition: border-color 0.1s;

    &:hover {
      border: 2px dashed white;
    }

    &_bordered {
      border: 2px dashed white;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    color: var(--drop-area-icon-color);
    pointer-events: none;
    user-select: none;
  }

  &__file {
    &>*:not(:first-child) {
      margin-top: 8px;
    }
  }
}